.saContentContainer {
    width: 100%;
    min-height: 15px;
    padding: 15px;
}
.adMenuItemContainer {
    width: 100%;
    margin-top: 10px;
}
.adMenuItemcardView {
    width: 100%;
    padding: 10px 10px 10px 10px;
    background: #eeeeee;
    box-sizing: border-box;
    display: flex;
    font-size: 14px;
    border-radius: 3px;
    margin-bottom: 5px;
    align-items: center;
    cursor: pointer;
}
.adMenuItemcardView:hover {
    opacity: 0.8;
}
.adMenuItemRightArrow {
    width: 12px;
    height: 12px;
    transform: rotate(180deg);
}
.adMenuItemText {
    flex: 1;
}