.mgContentContainer {
    width: 100%;
    margin-top: 15px;
    padding: 15px;
    box-sizing: border-box;
}
.mgContentInnerCon {
    width: 100%;
    box-sizing: border-box;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    border: solid 1px #eee;
}
.mgButtonContainer {
    width: 100%;
    display: flex;
}
.mgButton {
    width: 100%;
    height: 35px;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.mgButton.green {
    background: #27da80;
}
.mgButton.red {
    background: #ff6200;
}