.tpContentContainer {
    width: 100%;
    min-height: 15px;
    padding: 15px;
}
.tpCardViewCon {
    width: 100%;
    border: solid 1px #f5f5f5;
    background: #eeeeee;
    border-radius: 5px;
    margin-top: 10px;
    padding: 15px;
}
.tpGeneratePasswordInputCon {
    width: 100%;
    display: flex;
    margin-top: 10px;
}
.tpTempPasswordInput {
    width: 100%;
    height: 35px;
    border: solid 1px #000000;
    border-radius: 5px;
    padding-left: 10px;
    box-sizing: border-box;
    color: #000000;
    font-size: 14px;
    outline: none;
}
.tpGeneratePasswordButton {
    width: 50%;
    height: 35px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #02d348;
    cursor: pointer;
    margin-right: 15px;
    font-size: 14px;
    color: #ffffff;
}
.tpSavePasswordCon {
    width: 100%;
    margin-top: 35px;
}
.tpSavePassword {
    width: 100%;
    border: none;
    height: 50px;
    background: #000000;
    color: #ffffff;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}
.tpCopy {
    width: 50%;
    border: none;
    height: 35px;
    background: #000000;
    border-radius: 5px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
}