.aaContentContainer {
    width: 100%;
    padding: 15px;
}
.aaArbAccountCardCon {
    margin-top: 15px;
    background: #f5f5f5;
    border: solid 1px #eeeeee;
    min-height: 15px;
    padding: 10px;
}
.aaArbDetailsCard {
    display: flex;
    margin-top: 5px;
}
.aaArbDetailsTag {
    flex: 1;
    color: #606060;
    font-size: 13px;
}
.aaArbAccountAction {
    display: flex;
    margin-top: 10px;
    justify-content: right;
    align-items: center;
}
.aaArbAccountActionButton {
    padding: 5px 10px 5px 10px;
    background: #c7c7c7;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 5px;
}
.aaArbAccountActionButton.active {
    background: #45ff8c;
}
.aaArbAccountActionButton.deactive {
    background: #ff4242;
}
.aaArbAccountActionButton.delete {
    background: #d1d1d1;
}