.atcContentContainer {
    width: 100%;
    padding: 15px;
}
.atcCardView {
    background: #f5f5f5;
    min-height: 15px;
    margin-top: 10px;
    border: solid 1px #eeeeee;
    border-radius: 10px;
    padding: 15px;
    display: flex;
}
.atcActionButton {
    padding: 5px 10px 5px 10px;
    background: #45ff8c;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 13px;
    cursor: pointer;
}