.iox-mobile-menu-wrapper{

    position:fixed;

    bottom:0;
    left:0;
    right:0;

    margin:auto;

    max-width:500px;

    height:60px;

    background:#020617;
    border-top:1px solid #1e293b;

    display:flex;
    justify-content:space-around;
    align-items:center;

    z-index:999;

}


/* MENU ITEM */

.iox-mobile-menu-item{

    font-size:13px;
    color:#94a3b8;
    cursor:pointer;

}


/* ACTIVE */

.iox-mobile-menu-item.active{
    color:#22d3ee;
}


/* HIDE ON DESKTOP */

@media (min-width:769px){

    .iox-mobile-menu-wrapper{
        display:none;
    }

}