.p2p-main-wrapper{
padding:30px 80px;
background: radial-gradient(circle at top,#111827,#020617);
min-height:100vh;
}

/* NAV */

.p2p-nav{
    display:flex;
    gap:20px;
    margin-bottom:20px;
}

.p2p-nav button{
    background:#020617;
    border:1px solid #1e293b;
    color:#9ca3af;
    padding:8px 16px;
    border-radius:20px;
    cursor:pointer;
    font-size:13px;
}

.p2p-nav button.active{
background:linear-gradient(135deg,#22d3ee,#0ea5e9);
color:#020617;
font-weight:600;
}

/* MAIN CARD */

.p2p-container-card{
    background:rgba(17,24,39,0.95);
    border-radius:18px;
    padding:30px;
    border:1px solid #1e293b;
    box-shadow:0 0 40px rgba(0,255,255,0.06);
    color: #fff;
}

.p2p-card-header{
color:white;
font-size:20px;
font-weight:600;
margin-bottom:20px;
}

.p2p-card-body{
width:100%;
}

/* Tablet */

@media (max-width: 768px) {

}

/* MOBILE */

@media (max-width: 500px) {
    .p2p-main-wrapper {
        padding: 5px;
    }

    .p2p-container-card {
        padding: 10px;
        background: none;
        border: none;
        box-shadow: none;
    }

    .p2p-nav {
        gap: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .p2p-filter-bar {
        display: none;
    }

    .p2p-card-header {
        display: none;
    }
}

