.iox-faq-wrapper{
    padding:20px 20px;
    color: #fff;
}

.iox-faq-container{
    max-width:900px;
    margin:auto;
}

.iox-faq-title{
    text-align:center;
    font-size:28px;
    margin-bottom:40px;
}


/* FAQ ITEM */

.iox-faq-item{
    border:1px solid #1e293b;
    border-radius:10px;
    margin-bottom:12px;
    overflow:hidden;
    background:#020617;
}


/* QUESTION */

.iox-faq-question{
    padding:16px 20px;
    cursor:pointer;
    display:flex;
    justify-content:space-between;
    align-items:center;
    font-size:15px;
}

.iox-faq-question:hover{
    background:#0f172a;
}


/* ICON */

.iox-faq-icon{
    font-size:20px;
}


/* ANSWER */

.iox-faq-answer{
    padding:16px 20px;
    font-size:14px;
    color:#94a3b8;
    border-top:1px solid #1e293b;
}