.iox-footer-wrapper{
    background:#020617;
    border-top:1px solid #1e293b;
    padding:60px 20px 20px;
    color:#fff;
}

.iox-footer-container{
    max-width:1200px;
    margin:auto;

    display:flex;
    justify-content:space-between;
    gap:60px;
}


/* LEFT */

.iox-footer-left{
    max-width:320px;
}

.iox-footer-logo{
    width:60px;
    margin-bottom:14px;
}

.iox-footer-desc{
    font-size:14px;
    color:#94a3b8;
    line-height:1.6;
}


/* LINKS */

.iox-footer-links{
    display:flex;
    gap:60px;
}

.iox-footer-col{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.iox-footer-heading{
    font-weight:600;
    margin-bottom:10px;
}

.iox-footer-col span{
    font-size:14px;
    color:#94a3b8;
    cursor:pointer;
}

.iox-footer-col span:hover{
    color:#22d3ee;
}


/* BOTTOM */

.iox-footer-bottom{
    text-align:center;
    margin-top:40px;
    padding-top:20px;
    border-top:1px solid #1e293b;
    font-size:13px;
    color:#94a3b8;
}


/* MOBILE */

@media (max-width:768px){

    .iox-footer-container{
        flex-direction:column;
        gap:40px;
    }

    .iox-footer-links{
        flex-wrap:wrap;
        gap:40px;
    }

}