.sell-order-component-container {
    width: 100%;
    min-height: 100px;
    padding: 0px 25px 0 25px;
    box-sizing: border-box;
    margin-top: 15px;
}
.sell-order-sub-container {
    width: 100%;
    min-height: 10px;
    border: solid 1px #ededed;
    padding: 15px;
    box-sizing: border-box;
    background: #fafafa;
    border-radius: 5px;
}
.sell-order-details-container01 {
    display: flex;
    margin-top: 5px;
}
.sell-order-details-tag01 {
    flex: 1;
    display: flex;
    justify-content: left;
}
.sell-order-details-detail01 {
    flex: 1;
    display: flex;
    justify-content: right;
}
.sellOrderDetailsTagBuy {
    font-size: 14px;
    color: #43e180;
    font-weight: 600;
}
.sellOrderDetailsTagSell {
    font-size: 14px;
    color: black;
    font-weight: 600;
    background: #FF9A0D;
    padding: 1px 7px 1px 7px;
    border-radius: 5px;
}
.sellOrderStatusAwaiting {
    font-size: 14px;
    color: #77c4ff;
    display: flex;
    flex: 1;
    justify-content: right;
    font-weight: 600;
}
.sellOrderStatusMatching {
    font-size: 14px;
    color: #FF9A0D;
    display: flex;
    flex: 1;
    justify-content: right;
    font-weight: 600;
}
.sellOrderStatusConfirm {
    font-size: 14px;
    color: #43e180;
    display: flex;
    flex: 1;
    justify-content: right;
    font-weight: 600;
}
.sellOrderStatusCanceled {
    font-size: 14px;
    color: #c2c2c2;
    display: flex;
    flex: 1;
    justify-content: right;
    font-weight: 600;
}
.sellOrderAmountTag {
    display: flex;
    flex: 1;
    justify-content: left;
    font-size: 16px;
    font-weight: 600;
}
.sellOrderAmount {
    display: flex;
    flex: 1;
    justify-content: right;
    font-size: 16px;
    font-weight: 600;
}
.sellOrderNumberTag {
    display: flex;
    flex: 1;
    justify-content: left;
    font-size: 14px;
    color: #000000;
    font-weight: 400;
}
.sellOrderNumber {
    display: flex;
    flex: 1;
    justify-content: right;
    font-size: 14px;
    color: #000000;
    font-weight: 400;
}
.sellOrderNumberCopyIcon {
    width: 20px;
    padding-left: 5px;
}
.sell-order-status-bar-container {
    margin-top: 15px;
}
.sellOrderExpiryTag {
    display: flex;
    flex: 1;
    justify-content: left;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
}
.sellOrderExpiryTimer {
    display: flex;
    flex: 1;
    justify-content: right;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
}
.sellOrderBarContainerAwaiting {
    width: 100%;
    height: 10px;
    border-radius: 25px;
    background: #c0e4ff;
}
.sellOrderBarAwaiting {
    width: 65%;
    height: 10px;
    border-radius: 25px;
    background: #77c4ff;
}
.sellOrderBarContainerMatching {
    width: 100%;
    height: 12px;
    border-radius: 25px;
    background: #ffdaa6;
}
.sellOrderBarMatching {
    width: 65%;
    height: 12px;
    border-radius: 25px;
    background: #FF9A0D;
}
.sellOrderBarContainerConfirm {
    width: 100%;
    height: 15px;
    border-radius: 25px;
    background: #43e180;
}
.sellOrderBarConfirm {
    width: 65%;
    height: 15px;
    border-radius: 25px;
    background: #43e180;
}
/*Watch List*/
.WLOrderComponentContainer {
    width: 100%;
    min-height: 50px;
    background: #ffffff;
    margin-bottom: 10px;
}
.WLOrderDetailsContainer {
    width: 100%;
    min-height: 100px;
    border: solid 1px #efefef;
    background: #fafafa;
    border-radius: 5px;
    padding: 15px;
    box-sizing: border-box;
}
.WLSellQuantityContainer {
    width: 100%;
    display: flex;
}
.WLSellQuantityTag {
    flex: 1;
    font-size: 16px;
    color: #000000;
    font-weight: 400;
}
.WLSellQuantity {
    flex: 1;
    display: flex;
    justify-content: right;
}
.WLSQ {
    font-size: 16px;
    font-weight: 600;
}
.WLST {
    font-size: 16px;
    font-weight: 600;
    color: #00C542;
    display: flex;
    align-items: center;
    padding-left: 5px;
}
.WLRewardPriceContainer {
    display: flex;
    margin-top: 5px;
}
.WLPriceContainer {
    flex: 1;
    color: black;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    justify-content: right;
    color: #a9a9a9;
}
.WLRewardsContainer {
    flex: 1;
    display: flex;
    justify-content: left;
    color: #00C542;
    font-size: 14px;
    font-weight: 500;
}

.WLPaymentMethodsContainer {
    display: flex;
    width: 100%;
}
.WLPMConatiner {
    flex: 1;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    align-items: center;
}
.WLPMConatiner span {
    font-size: 14px;
    color: #636363;
    display: flex;
    align-items: center;
    color: #959595;
}
.WLPMConatiner img {
    height: 20px;
    padding-left: 10px;
}
.WLBuyButton {
    padding: 7px 10px 7px 10px;
    background: #000000;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
}
/*Contract Component*/
.contractComponentContainer {
    width: 100%;
    min-height: 100px;
    border-radius: 5px;
    border: solid 1px #eeeeee;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.contractComponentHeader {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 5px 5px 0 0;
    background: #eeeeee;
}
.contractComponentOrderStatus {
    flex: 1;
    align-items: center;
    padding-left: 15px;
    color: black;
    font-size: 14px;
    font-weight: 400;
}
.contractComponentTimeout {
    font-size: 14px;
    color: black;
    font-weight: 600;
    display: flex;
    justify-content: right;
    padding-right: 15px;

}
.contractOrderHederBgAwaiting {
    background: #51b3ff;
}
.contractOrderHederBgConfirming {
    background: #43e180;
}
.contractOrderHederBgCancelled {
    background: #d8d8d8;
}
.contractComOrderTypeCard {
    font-size: 14px;
    font-weight: 400;
    color: black;
    margin-left: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 5px;
}

.sellCardView {
    background: #00C542;
}

.buyCardView {
    background: #ffbe1b;
}

.matchingStatusText {
    color: #ffbe1b;
}
.awaitingStatusText {
    color: #0295f0;
}
.completeStatusText {
    color: #00C542;
}
.expiredStatusText {
    color: #6e6e6e;
}
.timeoutStatusText {
    color: #ff0000;
}
.orderProgressBarContainer {
    width: 100%;
    height: 17px;
    border-radius: 4px;
    box-sizing: border-box;
    position: relative; /* Required to position children absolutely */
    overflow: hidden;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}
.orderProgressBarBgContainer {
    width: 100%;
    height: 17px;
    border-radius: 4px;
    box-sizing: border-box;
    box-sizing: border-box;
}
.orderProgressBarBgMatching {
    background: #fff6e0;
}
.orderProgressBarBgAwaiting {
    background: #e2f4ff;
}
.orderProgressBarBgConfirming {
    background: #d8ffe5;
}
.orderProgressBar {
    width: 54%;
    height: 100%;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: width 1s linear;
    margin-left: 15px;
    margin-right: 15px;
    box-sizing: border-box;
}
.orderProgressBarExpiryTimer {
    width: 100%;
    height: 100%;
    z-index: 2;
    font-size: 13px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none; /* prevent it from interfering with click events */
    box-sizing: border-box;
}
.orderProgressBarColorMatching {
    background: #ffbe1b;
}
.orderProgressBarColorAwaiting {
    background: #0295f0;
}
.orderProgressBarColorConfirming {
    background: #00C542;
}
.contractComponentOrderDetailContainer {
    width: 100%;
    display: flex;
    padding-left: 15PX;
    padding-right: 15PX;
    margin-bottom: 10PX;
    box-sizing: border-box;
}
.orderStatusMessageContainer {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    font-size: 14px;
    box-sizing: border-box;
}
.orderDetailRowTag {
    flex: 1;
    font-size: 14px;
}
.orderDetailRowData {
    font-size: 14px;
    font-weight: 600;
}

/*Transactions*/
.transaction-card-view {
    width: 100%;
    min-height: 60px;
    margin-bottom: 5px;
    background: #fafafa;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.transaction-amount-status-container {
    flex: 1;
}
.transaction-icon-container {
    width: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.transaction-details-amount {
    width: 100%;
    display: flex;
    justify-content: right;
    padding-right: 15px;
    box-sizing: border-box;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
}
.transaction-details-status {
    width: 100%;
    display: flex;
    justify-content: right;
    padding-right: 15px;
    box-sizing: border-box;
    font-size: 12px;
}
.transaction-details-type {
    font-size: 14px;
    font-weight: 500;
}
.transaction-details-date {
    font-size: 12px;
    color: #636363;
}
.transaction-details-orderid {
    font-size: 12px;
    color: #636363;
}
.transaction-icon {
    width: 40px;
}
.colorPrimary {
    color: #00C542;
}
.colorWarning {
    color: #FF9A0D;
}
.colorGray {
    color: #a9a9a9;
}
.colorWaiting {
    color: #3a97dd;
}
.f-size14 {
    font-size: 14px;
}
.f-size16 {
    font-size: 16px;
}
.f-size18 {
    font-size: 18px;
}
.f-size20 {
    font-size: 20px;
}
.f-size22 {
    font-size: 22px;
}
.f-size24 {
    font-size: 24px;
}
.f-size25 {
    font-size: 25px;
}
.t-bold400 {
    font-weight: 400;
}
.t-bold600 {
    font-weight: 600;
}

.t-bold800 {
    font-weight: 800;
}


