.mtContentContainer {
    width: 100%;
    min-height: 50px;
    padding: 15px;
}
.mtGenerateCardViewContainer {
    width: 100%;
    min-height: 15px;
    border: solid 1px #eeeeee;
    border-radius: 5px;
}