.iox-mainmenu-wrapper{

    width:100%;
    border-bottom:1px solid #1e293b;
    background:#020617;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;

}


/* container */

.iox-mainmenu-container{

    max-width:1200px;
    margin:auto;

    display:flex;
    gap:30px;

}


/* menu item */

.iox-mainmenu-item{

    background:none;
    border:none;

    padding:14px 0;

    font-size:15px;
    color:#94a3b8;

    cursor:pointer;
    position:relative;

}


/* active */

.iox-mainmenu-item.active{

    color:#22d3ee;

}


/* bottom line */

.iox-mainmenu-item.active::after{

    content:"";

    position:absolute;

    left:0;
    bottom:0;

    width:100%;
    height:2px;

    background:#22d3ee;

}

@media (min-width: 768px) {
    .iox-mainmenu-wrapper {
        display: none;
    }
}