.exchange-widget {
  
  border: 1px solid #1e293b;
  border-radius: 14px;
  padding: 18px;
  color: #fff;
  background: linear-gradient(135deg, #22d3ee, #0ea5e9);
}
.exchange-box-outer {
  margin-top: 15px;
}
.exchange-box-con {
  display: flex;
  background: #92e1bb;
  padding: 15px;
  border-radius: 15px;
  border: solid 2px #90eac7;
  z-index: 1000;
}
.root-currency-cover {
  background: #1e293b;
  display: flex;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  border-radius: 25px;
  align-items: center;
}

.root-currency-icon-cover {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  padding: 4px;
}

.currency-icon {
  width: 14px
}

.currency-name {
  font-size: 16px;
  font-weight: 600;
  margin-left: 6px;
}

.exchange-amount-input {
  display: flex;
  flex: 1;
  outline: none;
  border: none;
  background: none;
  font-size: 25px;
  color: #313131;
  letter-spacing: 1px;
  text-align: right;
  font-weight: 600;
}
.exchange-amount-input-con {
  display: flex;
  flex: 1;
  width: 100%;
}

.currency-swap-con {
  width: 40px;
  height: 40px;
  background: #1e293b;
  border: solid 3px #90eac7;
  border-radius: 500px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: -15px;
  margin-bottom: -15px;
  z-index: 10001;
}
.exchange-ex-icon {
  width: 22px;
  height: 22px;
  rotate: 90deg;
}

.exchange-ex-icon-container {
  justify-content: center;
  display: flex;
}

.exchange-fees-con {
  color: #313131;
  font-size: 14px;
  font-weight: 400;
  display: flex;
}

.exchange-button-one {
  background: #1e293b;
  width: 100%;
  padding-top: 13px;
  padding-bottom: 13px;
  border-radius: 10px;
  font-size: 16px;
  font-size: 800;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.exchange-details-left-tag {
  width: 50%;
}

.exchange-details-right-tag {
  display: flex;
  width: 50%;
  justify-content: right;
}

