/* TOP NAVBAR */

.top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 80px;

  background: #020617;
  border-bottom: 1px solid #1e293b;

  position: sticky;
  top: 0;
  z-index: 100;
}

/* LOGO */

.logo {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}

/* MENU ITEMS */

.top-nav-items {
  display: flex;
  gap: 30px;
}

.top-nav-items span {
  color: #cbd5f5;
  cursor: pointer;
  font-size: 13px;
  transition: 0.2s;
}

.top-nav-items span:hover {
  color: #228bee;
}

.right-menu-item-con {
  display: flex;
}
/* LOGOUT STYLE */

.logout {
  color: #000;
  font-weight: 400;
  background: linear-gradient(135deg, #22d3ee, #0ea5e9);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}
.logout:hover {
  background: #64b3fd;
  transition: 0.2s;
}

.profile-item {
  background: #1e293b;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: linear-gradient(135deg, #22d3ee, #0ea5e9);
  border-radius: 5px;
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
}
.profile-item:hover {
  background: #64b3fd;
  transition: 0.2s;
}

/* MOBILE VIEW */

@media (max-width: 767px) {

  .top-menu {
    justify-content: left;
    padding: 18px 20px;
  }

  .top-nav-items {
    display: none;
  }

  .right-menu-item-con {
    display: none;
  }

}