.upi-pay-wrapper {
  min-height: 100vh;
  background: radial-gradient(circle at top, #111827, #020617);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.upi-pay-card {
  width: 100%;
  max-width: 420px;
  background: rgba(17, 24, 39, 0.95);
  padding: 26px;
  border-radius: 18px;
  color: #fff;
  box-shadow: 0 0 40px rgba(0, 255, 255, 0.06);
}

.upi-pay-title {
  text-align: left;
  margin-bottom: 18px;
}

/* AMOUNT */
.deposit-amount-box {
  background: #020617;
  border: 1px solid #1e293b;
  border-radius: 14px;
  padding: 16px;
  text-align: center;
  margin-bottom: 18px;
}

.deposit-amount-box span {
  font-size: 13px;
  color: #9ca3af;
}

.deposit-amount-box h3 {
  font-size: 26px;
  margin: 6px 0;
}

.min-note {
  font-size: 12px;
  color: #fbbf24;
}

/* QR */
.qr-section {
  background: #fff;
  border-radius: 14px;
  padding: 10px;
  text-align: center;
  margin-bottom: 16px;
}

.qr-section img {
  width: 170px;
  height: 170px;
}

.qr-section p {
  color: #020617;
  font-size: 13px;
  margin-top: 6px;
}

/* UPI ID */
.upi-id-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #020617;
  border: 1px solid #1e293b;
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 16px;
}

.upi-id-box span {
  font-size: 14px;
  color: #cbd5f5;
}

.upi-id-box button {
  background: #22d3ee;
  border: none;
  padding: 6px 12px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}

/* UTR */
.utr-group label {
  font-size: 13px;
  color: #cbd5f5;
}

.utr-group input {
  width: 100%;
  margin-top: 6px;
  padding: 14px;
  border-radius: 12px;
  border: 1px solid #1e293b;
  background: #020617;
  color: #fff;
}

/* BUTTON */
.submit-btn {
  width: 100%;
  padding: 14px;
  margin-top: 18px;
  border-radius: 14px;
  border: none;
  background: linear-gradient(135deg, #22d3ee, #0ea5e9);
  color: #020617;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.submit-btn:disabled {
  background: #1e293b;
  color: #64748b;
  cursor: not-allowed;
}

/* WARNING */
.warning-text {
  margin-top: 14px;
  font-size: 12px;
  color: #f87171;
  text-align: center;
}

.send-balance {
  display: flex;
  justify-content: space-between;
  background: #020617;
  border: 1px solid #1e293b;
  padding: 12px;
  border-radius: 12px;
  margin: 14px 0;
}


/* DESKTOP */
@media (min-width: 768px) {
  .upi-pay-card {
    padding: 34px;
  }
}