.upi-wrapper {
  min-height: 100vh;
  background: radial-gradient(circle at top, #111827, #020617);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.upi-card {
  width: 100%;
  max-width: 420px;
  background: rgba(17, 24, 39, 0.95);
  border-radius: 18px;
  padding: 26px;
  color: #fff;
  box-shadow: 0 0 40px rgba(0, 255, 255, 0.06);
}

.upi-title {
  text-align: center;
  margin-bottom: 20px;
}

/* ORDER */
.upi-order {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 10px;
}

.upi-amount {
  text-align: center;
  background: #020617;
  border: 1px solid #1e293b;
  border-radius: 14px;
  padding: 14px;
  margin-bottom: 16px;
}

.upi-amount h3 {
  margin-top: 6px;
  font-size: 24px;
}

/* TIMER */
.upi-timer {
  text-align: center;
  font-size: 14px;
  margin-bottom: 18px;
  color: #fbbf24;
}

/* QR */
.qr-box {
  background: #fff;
  border-radius: 14px;
  padding: 14px;
  text-align: center;
  margin-bottom: 16px;
}

.qr-box img {
  width: 200px;
  height: 200px;
}

.qr-box p {
  color: #020617;
  font-size: 13px;
  margin-top: 6px;
}

/* INSTRUCTIONS */
.upi-instructions {
  font-size: 13px;
  color: #cbd5f5;
  margin-bottom: 16px;
}

.upi-instructions p {
  margin-bottom: 6px;
}

/* BUTTON */
.paid-btn {
  width: 100%;
  padding: 14px;
  border-radius: 14px;
  border: none;
  background: linear-gradient(135deg, #22d3ee, #0ea5e9);
  color: #020617;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.paid-btn:disabled {
  background: #1e293b;
  color: #64748b;
  cursor: not-allowed;
}

/* WARNING */
.upi-warning {
  margin-top: 14px;
  font-size: 12px;
  color: #f87171;
  text-align: center;
}
.utr-box {
  margin-bottom: 16px;
}

.utr-box label {
  font-size: 13px;
  color: #cbd5f5;
}

.utr-box input {
  width: 100%;
  margin-top: 6px;
  padding: 14px;
  border-radius: 12px;
  border: 1px solid #1e293b;
  background: #020617;
  color: #fff;
  font-size: 15px;
}

.utr-box input:focus {
  border-color: #22d3ee;
  outline: none;
}

/* WALLET */
.wallet-info {
  display: flex;
  justify-content: space-between;
  background: #020617;
  border: 1px solid #1e293b;
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 16px;
  font-size: 14px;
}

.cancel-btn{
  width:100%;
  padding:12px;
  margin-top:10px;
  border-radius:10px;
  border: none;
  background: #4d4d4d;
  color:#fff;
  cursor:pointer;
}

.cancel-btn:hover{
  background:#656565;
  color:#fff;
}

.upi-header{
  display:flex;
  align-items:center;
  justify-content:center;
  position:relative;
  padding-bottom:15px;
  margin-bottom:15px;
  border-bottom:1px solid #e5e7eb;
  font-weight:600;
  font-size:16px;
}

.upi-close-btn{
  position:absolute;
  left:0;
  border:none;
  background:none;
  font-size:20px;
  cursor:pointer;
  color:#374151;
}

.upi-close-btn:hover{
  color:#000;
}

/* DESKTOP */
@media (min-width: 768px) {
  .upi-card {
    padding: 34px;
  }
}